p{
    margin:0;
    color:#5e5e5e;
}
a{
    text-decoration: none;
    color: #258a8e;
}
/* **********************************************************
                        BLOC CLIENT
**************************************************************/
.fontA .fa-solid{
    padding: 30px;
    border: solid 2px #d5d5d5;
    border-radius: 5px;
    font-size: 2em;
    margin-top: 25px;
}
.img-profil{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-top: 20px;
} 
.p-description{
    font-size: 1.5em;
    font-weight: bold;
    color:#212529;
}
.fa-solid.fa-pencil{
    color:#258a8e;
    font-size: 1em;
}
.fa-solid.fa-arrow-left{
    padding: 10px;
    border: solid 2px transparent;
    background-color: #00e1bc52;
    border-radius: 50%;
    color: #258a8e;
}
.info i{
    color: #212529;
    font-size: 1.4em;
}
.info .details{
    font-weight: 800;
    color: #212529;
}
.matricule{
    background-image: url("../images/matricule.png");
    width: 175px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}